@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --light-shade: #F6F3EF;
  --light-accent: #A59F9E;
  --main-color: #F37324;
  --dark-accent: #93785C;
  --dark-shade: #262022;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

a,
a:active {
  color: var(--dark-shade);
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: var(--dark-shade);
  overflow-x: hidden;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basic-container {
  display: flex;
  flex-direction: column;
  color: var(--dark-shade);
  background: var(--light-shade);
  border-radius: 8px;
  padding: 20px;
}

.basic-container-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header-container img {
  border-radius: 4px;
  width: 150px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
  border-radius: 3px;
  background: var(--dark-shade);
  transition: all ease-in 0.2s;
}

.left a img {
  width: 28px;
  height: 28px;
}

.resume-button {
  background: none;
  color: var(--light-shade);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.left a:hover {
  cursor: pointer;
  background: var(--main-color);
  color: var(--dark-shade);
}

.left .resume-button:hover {
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right p {
  color: var(--dark-accent);
  font-weight: 800;
}

.header-container h1 {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 3.8rem;
  color: var(--main-color);
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.projects-container h2 {
  color: var(--dark-shade);
  border-bottom: 2px solid var(--dark-shade);
  margin-bottom: 10px;
}

.projects-list {
  width: inherit;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  max-width: 300px;
  width: 100%;
  background: rgb(221, 216, 216);
  ;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.project-card h3 {
  color: var(--dark-shade);
  font-size: 2rem;
}

.project-card:hover {
  transform: scale(1.05);
  transition: all ease-out 0.3s;
}

.project-image {
  width: 100%;
  height: 150px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.project-tag {
  display: inline-block;
  font-size: 0.9rem;
  color: #eaf8f3;
  background: var(--light-accent);
  border-radius: 4px;
  padding: 4px 10px;
  margin: 8px 0 5px;
}

.project-description {
  font-size: 0.8rem;
  color: var(--dark-shade);
}

.project-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.918);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  box-sizing: border-box;
}

.project-details {
  width: calc(100% - 20px);
  max-height: calc(100vh - 20px);
  background: var(--light-shade);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  overflow-y: auto;
}

.project-details-image {
  margin: 0 auto 16px;
  width: 60%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.project-details-description {
  font-size: 1rem;
  color: var(--dark-shade);
  text-align: left;
}

.project-details .header {
  display: flex;
  gap: 10px;
}

.project-details .header h3 {
  width: 100%;
}

.close-button {
  background: var(--dark-shade);
  color: var(--light-shade);
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background: #e04842;
}

.education-container,
.work-container {
  width: 50%;
  gap: 5px;
}

.basic-container h2 {
  color: var(--dark-shade);
  border-bottom: 2px solid var(--dark-shade);
  margin-bottom: 10px;
}

.basic-container-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: rgb(221, 216, 216);
  padding: 10px;
  border-radius: 8px;
}

.basic-container-2 img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.text h3 {
  text-transform: uppercase;
  color: var(--dark-shade);
}

.languages-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.languages-details .language {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 100px;
  flex-grow: 1;
}

.languages-details p {
  width: 100%;
  text-align: center;
  background: #ddd8d8;
  padding: 8px;
  border-radius: 4px;
}

.certificates-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cert {
  background-color: #ddd8d8;
  padding: 5px;
  border-radius: 4px;
}

.cert-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cert-image-overlay-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cert-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 4px;
  background: white;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.cert-close-button:hover {
  transition: all ease-in-out 0.2s;
  background: #e04842;
}

.dashboard-images {
  width: inherit;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.dashboard-images img {
  border-radius: 4px;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  .header-container img {
    width: 120px;
    height: 120px;
  }

  .header-container h1 {
    font-size: 2rem;
  }

  .resume-button {
    font-size: 10px;
    padding: 8px 20px;
  }

  .basic-container-3,
  .basic-container-2 {
    flex-direction: column;
  }

  .basic-container {
    width: inherit;
  }

  .project-card h3 {
    font-size: 1.2rem;
  }

  .project-details {
    padding: 10px;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .left {
    align-items: center;
  }

  .left img {
    width: 200px;
    height: 200px;
  }

  .project-card {
    max-width: 100%;
  }

  .project-card img {
    object-fit: cover;
  }

  .project-details img {
    width: inherit;
    margin: 0 auto;
  }

  .cert-image-overlay-content img {
    width: 100%;
    height: auto;
  }
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}